body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.img-avatar{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:solid 4px #000 ;
   

}

h1{

    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 2px;
}

h3{

    color: rgb(40, 145, 145);
    margin-top: 2px;
    font-size: 18px;
    font-weight: normal;
    color: #a39797;
    margin-bottom: 3px;
}


header div{
    border: solid 3px #7778;
    border-radius: 18px;
    padding: 20px;
    background-image: url(../img/flores-para-plantar-no-verao.jpg);
    background-size: 100%;
    
   
}